* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul {
    border: 1px solid red;
    height: 40vh;
    overflow: auto;
}

input {
    font-size: 22px;
    outline: none;
    border: 2px solid rgb(22, 185, 71);
    margin: 28px;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    color: blueviolet;
    font-size: 22px;
}

li {
    margin: 10px;
}

img {
    width: 100px;
}

.hotComments {
    border: 1px solid blue;
    height: 40vh;
    overflow: auto;
}

dl {
    border: 1px solid yellow;
    margin: 10px;
}

dt>img {
    width: 30px;
}